.formContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.inputClass {
  height: 32px;
  border-radius: 8px;
  outline: none;
}
