.formContainer {
  row-gap: 12px;
  border-radius: 4px;
  margin-bottom: 24px;
}

.controlsContainer {
  display: flex;
  gap: 12px;
}

.inputClass {
  width: 300px;
  height: 24px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  outline: none;
}

.inputClass:focus {
  border-color: #646cff;
  box-shadow: 0 0 5px rgba(100, 108, 255, 0.5);
}

.fieldContainer {
  display: flex;
  flex-direction: column;
}

.errorMessage {
  color: orangered;
  font-size: 14px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
