.list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.maplist {
  display: flex;
  column-gap: 16px;
}

.isolatedClickers {
  display: flex;
  column-gap: 16px;
}

.sumClickers {
  align-items: center;
  display: flex;
  column-gap: 16px;
}
